* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ffdddd;
}

html {scroll-behavior: smooth;}

.text-center {text-align: center;}

.text-grey {color: #757575;}

.white-text {color: #fff;}

.display-container {position: relative;}

.display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lt-spc-4 {letter-spacing: 4px;}

.grayscale-min {filter: grayscale(50%);}

.btn {
    display: inline-block;
    border: none;
    font: inherit;
}

.btn:hover {
    color: #000;
    background-color: #ccc;
    opacity: 1;
}

.container {
    background-color: var(--primary-color);
    padding: 64px 16px;
}

.container::before, .container::after {
    content: "";
    display: block;
    clear: both;
}

.content {
    max-width: 980px;
    margin: 0 auto;
}

.round {
    border-radius: 4px;
}

.wedding-details-btn {
    color: #fff;
    padding: 12px 24px;
    background-color: #000;
}

.col-half {
    width: 49.99999%;
    float: left;
}

.rsvp-btn {
    color: #fff;
    opacity: 0.6;
    padding: 8px 60px;
    background-color: #f44336;
}

footer {
    background-color: #000;
    padding: 16px 0;
    color: #fff;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #4CAF50;
}

.nav-bottom {
    display: none;
    opacity: 0.75;
    background-color: #fff;
    padding: 8px 16px;
    text-wrap: nowrap;
    position: sticky;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.nav-bottom a {
    padding: 8px 16px;
    text-decoration: none;
    width: 25%;
    color: #000;
}

/* responsive */
.row {
    display: flex;
    flex-wrap: wrap;
}

.c-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 1023px) {
    .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .nav-bottom {
        display: block;
    }
}
