* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #f44336;
    --dark-grey: #616161;
}

/* common */
hr {
    width: 50px;
    border: 5px solid red;
    border-radius: 4px;
    margin: 20px 0;
    box-sizing: content-box;
}

button, input {
    border: none;
    font: inherit;
}

.btn {
    padding: 12px 24px;
}

.hover-opacity:hover,
.opacity {
    opacity: 0.6;
}

.gray-scale {
    filter: grayscale(75%);
}

.text-red {
    color: var(--primary-color);
}

.bg-gray {
    background-color: #616161 !important;
}

.bg-red {
    background-color: var(--primary-color) !important;
}

.light-grey {
    color: #000;
    background-color: #f1f1f1;
}

.container {
    padding: 0.01rem 16px;
}

.container::after ,.container::before {
    content: "";
    display: block;
    clear: both;
}


/* main */
.sidebar {
    padding: 8px 16px;
    font-weight: bold;
    position: fixed;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    color: #fff;
    background-color: var(--primary-color);
}

.sidebar__heading h3{
    padding: 64px 0;
}

.close-btn {
    width: 100%;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: block;
    padding: 8px 16px;
}

.close-btn:hover {
    color: #000;
    background-color: #ccc;
}

.sidebar__items {
    color: #fff;
    display: block;
    text-align: left;
    font-size: 18px;
    padding: 8px 16px;
    text-decoration: none;
}

.sidebar__items:hover {
    color: #000;
    background-color: #fff;
}

header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    padding: 16px 8px;
    font-size: 24px;
    color: #fff;
    background-color: var(--primary-color);
}

header a {
    text-decoration: none;
    color: #fff;
    padding: 8px 16px;
    margin-right: 16px;
}

header a:hover {
    color: #000;
    background-color: #ccc;
}

.overlay {
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}


#modal01 {
    display: none;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: #000;
}

#modal01 span {
    font-size: 36px;
    padding: 8px 16px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

#modal01 span:hover {
    background-color: #ccc;
    color: #000;
}

.modal-content {
    padding: 70px 0;
    text-align: center;
    animation: animatezoom .6s;
    width: 600px;
    margin: 0 auto;
}

.modal-content img {
    max-width: 100%;
    height: auto;
    vertical-align: center;
}

@keyframes animatezoom {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

#main {
    margin-left: 340px;
    margin-right: 40px;
    transition: margin-left .4s;
}

.row-pd {
    display: flex;
    padding: 0 8px;
    flex-wrap: wrap;
    margin: 0 -16px;
}

.col {
    padding: 0 8px;
}

.col-mgbt {
    margin-bottom: 16px;
}

.c-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 601px) {
    .m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.showcase-img {
    opacity: 0.8;
    cursor: pointer;
    margin-top: 16px;
    width: 100%;
    margin-bottom: -6px;
}

.showcase-img:hover {
    opacity: 1;
}

.packages__options {
    list-style: none;
    margin-bottom: 16px;
}

.packages__options li:first-child {
    color: #fff;
    font-size: 24px;
    padding: 32px 16px; 
}

.packages__options li {
    display: block;
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    color: #000;
    border-bottom: 1px solid #ddd;
}


.packages__options:first-child button {
    background-color: #fff;
}

.packages__options:nth-child(2) button:hover,
.packages__options:first-child button:hover {
    color: #fff;
    background-color: #000;
}

.packages__options:nth-child(2) button {
    background-color: var(--primary-color);
    color: #fff;
}

.packages__options li:last-child {
    border-bottom: none;
}

#contact .form-infomation input{
    padding: 8px;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
}

.form-infomation button{
    display: block;
    width: 100%;
    color: #fff;
    background-color: var(--primary-color);
}


.form-infomation button:hover {
    color: #000;
    background-color: #ccc;
}

footer {
    background-color: #f1f1f1;
}

footer p {
    float: right;
}

footer a {
    color: #000;
}

/* responsive */
@media (max-width: 600px) {
    .modal-content {
        margin: 0 10px;
        width: auto !important;
    }
}

@media (max-width: 768px) {
    .modal-content {
        width: 500px;
    }
}

@media (min-width: 993px) {
    .sidebar {
        display: block !important;
    }
}

@media (max-width: 992px) {
    .sidebar {
        display: none;
    }
    #main {
        margin-left: 0;
        margin-right: 0;
    }
    header {
        display: block;
    }
    #showcase {
        margin-top: 0;
    }
}